<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="bower_components/mocha/mocha.css">
</head>
<body>
    <div id="mocha"></div>
    <script src="bower_components/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="bower_components/chai/chai.js"></script>
    <script>
        var assert = chai.assert;
        var expect = chai.expect;
        var should = chai.should();
    </script>

    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/loader.js/loader.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
    <script src="/bower_components/Keypress/keypress-2.1.0.min.js"></script>
    <!-- endbower -->

    <!-- include source files here... -->
    <script src="scripts/app.js"></script>
    <!-- include spec files here... -->
    {{#specs}}
    <script src="{{{src}}}"></script>
    {{/specs}}

    <script>
        var specs = [];
        {{#specs}}
        specs.push('{{{spec}}}');
        {{/specs}}

        require(specs);

        mocha.run();
    </script>
</body>
</html>
