// bower:scss
// endbower

//helpers
@import "helpers/variables";
@import "helpers/mixins";

//base
@import "base/reset";
@import "base/font";
@import "base/links";

//layouts
@import "layouts/main";

//components
@import "components/input";
@import "components/output";
@import "components/nano-scroller";

.fade-in {
    -webkit-animation: fade 0.3s 1 linear;
    -moz-animation: fade 0.3s 1 linear;
    -ms-animation: fade 0.3s 1 linear;
    -o-animation: fade 0.3s 1 linear;
    animation: fade 0.3s 1 linear;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=1);
    }
}
