.center
{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
}

#loading
{
    width: 60px;
    height: 60px;
    z-index: 1;
}

#loading.done
{
    display: none;
}

.loader
{
    width: 60px;
    height: 60px;
    background-color: #333;

    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    -moz-animation: rotateplane 1.2s infinite ease-in-out;
    -ms-animation: rotateplane 1.2s infinite ease-in-out;
    -o-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

#console
{
    z-index: 101;
}

#console,
#console input
{
    font-family: "Courier New";
    color: #2aff00;
    font-size: 12px;
}

.console-content
{
    background-color: #000;
    overflow: auto;
}

.line
{
    min-height: 15px;
    line-height: 15px;
    margin: 0 2px;
    white-space: pre;
}

.white
{
    color: white;
}

.yellow
{
    color: yellow;
}

#input
{
    position: relative;
    padding: 0 10px 0 142px;
    display: none;
}

#input .prompt,
#input input
{
    display: block;
}

#input .prompt
{
    position: absolute;
    left: 0;
    padding-left: 2px;
}

#input input
{
    width: 100%;
    border: none;
    background: black;
    outline: none;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
}

.fade-in
{
    -webkit-animation: fade 0.3s 1 linear;
    -moz-animation: fade 0.3s 1 linear;
    -ms-animation: fade 0.3s 1 linear;
    -o-animation: fade 0.3s 1 linear;
    animation: fade 0.3s 1 linear;
}

@-webkit-keyframes fade {
    0%  {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    100%{
        opacity: 1;
        filter: alpha(opacity=1);
    }
}

@-webkit-keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateplane
{
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg)
    }
}

@keyframes rotateplane
{
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@media only screen
and (min-width : 800px)
{
    #console.small
    {
        height: 403px;
        width: 800px;
        border: 1px solid #d5d5d5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
    }
    #console.small .console-content
    {
        margin: 5px;
    }
}
