html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section
{
    display: block;
}

nav ul
{
    list-style: none;
}

blockquote, q
{
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
    content: '';
    content: none;
}

a
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins
{
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark
{
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del
{
    text-decoration: line-through;
}

abbr[title], dfn[title]
{
    border-bottom: 1px dotted #000;
    cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table
{
    border-collapse: collapse;
    border-spacing: 0;
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select
{
    vertical-align: middle;
}

/* END RESET CSS */

#console,
.console-content
{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

#console
{
}

#console.small
{
    height: 403px;
    width: 800px;
    margin: auto;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.console-content,
#input input
{
    font-family: "Courier New";
    color: #2aff00;
    font-size: 12px;
}

#console.small .console-content
{
    margin: 5px;
}

.console-content
{
    background-color: #000;
    overflow: auto;
}

.line
{
    min-height: 15px;
    line-height: 15px;
    margin: 0 2px;
    white-space: pre;
}

.white
{
    color: white;
}

.yellow
{
    color: yellow;
}

#input
{
    position: relative;
    padding: 0 10px 0 142px;
    display: none;
}

#input .prompt,
#input input
{
    display: block;
}

#input .prompt
{
    position: absolute;
    left: 0;
    padding-left: 2px;
}

#input input
{
    width: 100%;
    border: none;
    background: black;
    outline: none;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
}

.fade-in
{
    opacity:0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    -o-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
}