#side-panel
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #00ff00;
}

#side-panel > div
{
    float: left;
}

#side-panel .buttons .button
{
    display: block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1px;
    background-color: #ff0000;
    color: white;
    font-family: Arial;
    text-decoration: none;
}

#side-panel .buttons .button.close,
#side-panel .buttons .button.close.hide
{
    display: none;
}

#side-panel .buttons .button.close.show
{
    display: block;
}

#side-panel .buttons
{
    width: 50px;
    height: 100%;
    background: black;
}

#side-panel .content
{
    position: relative;
    width: 0px;
    height: 100%;
    background: green;
}

#side-panel .content > div
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    box-sizing: border-box;
    padding: 5px;
}

#side-panel .content .a {background-color: #ff0000; display: none;}
#side-panel .content .b {background-color: #00ff00; display: none;}
#side-panel .content .c {background-color: #0000ff; display: none;}
#side-panel .content .d {background-color: #f0f0f0; display: none;}

#side-panel.show .content
{
    width: 250px;
    border-left: 1px solid black;
    -webkit-animation: panelSlideIn 0.3s 1 linear;
    -moz-animation: panelSlideIn 0.3s 1 linear;
    -ms-animation: panelSlideIn 0.3s 1 linear;
    -o-animation: panelSlideIn 0.3s 1 linear;
    animation: panelSlideIn 0.3s 1 linear;
}

#side-panel.hide .content
{
    width: 0px;
    border-left: none;
    -webkit-animation: panelSlideOut 0.3s 1 linear;
    -moz-animation: panelSlideOut 0.3s 1 linear;
    -ms-animation: panelSlideOut 0.3s 1 linear;
    -o-animation: panelSlideOut 0.3s 1 linear;
    animation: panelSlideOut 0.3s 1 linear;
}

@-webkit-keyframes panelSlideIn {
    0%  {
        width: 0px;
    }
    100%{
        width: 250px;
    }
}

@-webkit-keyframes panelSlideOut {
    0%  {
        width: 250px;
    }
    100%{
        width: 0px;
    }
}
