#input {
    position: relative;
    padding: 0 0 0 144px;
    display: none;

    line-height: $console-line-height;
    height: $console-font-size * $console-line-height;

    input,
    .prompt {
        line-height: $console-line-height;
        display: block;
    }

    input {
        width: 100%;
        padding: 0;
        margin: 0;

        border: none;
        background: $console-color-background;

        outline: none;
        cursor: default;
    }

    .prompt {
        position: absolute;
        left: 0;
    }
}
