.input-holder {
    display: none;
    line-height: $console-line-height;

    font-size: 0;

    > span {
        font-size: $console-font-size;
    }

    .input {
        font-size: 0;

        > * {
            font-size: $console-font-size;
            white-space: pre;
            word-break: break-all;
            word-wrap: break-word;
        }

        .cursor.enable {
            background-color: $console-color-selection;
            color: $console-color-selection-text;
        }
    }

    .clipboard {
        overflow: hidden;
        height: 0;
        outline: 0;
    }
}
