//
// nanoScrollerJS (Sass)
// --------------------------------------------------
/** initial setup **/
$nanoClass: "console" !default;
$paneClass: "console-pane" !default;
$sliderClass: "console-slider" !default;
$contentClass: "console-content" !default;

.#{$nanoClass} {
    position: absolute;
    top: $console-header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .#{$contentClass} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: scroll;
        overflow-x: hidden;

        &:focus {
            outline: thin dotted;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    > .#{$paneClass} {
        width: 7px;
        position: absolute;
        top: 1px;
        right: 0;
        bottom: 1px;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        visibility: hidden\9; // Target only IE7 and IE8 with this hack
        opacity: .01;

        > .#{$sliderClass} {
            background: #444;
            background: rgba(0,0,0,.5);
            position: relative;
            margin: 0 1px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
    }
}

.has-scrollbar > .#{$contentClass}::-webkit-scrollbar {
    display: block;
}

.#{$paneClass} {
    .#{$nanoClass}:hover > &,
    &.active,
    &.flashed {
        visibility: visible\9; // Target only IE7 and IE8 with this hack
        opacity: 0.99;
    }
}


.console {
    > .#{$paneClass} {
        > .#{$sliderClass} {
            background: $console-color-foreground;
        }
    }
}
