.line {
    min-height: $console-font-size * $console-line-height;
    line-height: $console-line-height;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;

    &.table {
        white-space: pre;
    }

    &::selection {
        background: $console-color-selection;
        color: $console-color-selection-text;
    }

    &::-moz-selection {
        background: $console-color-selection;
        color: $console-color-selection-text;
    }
}

.black {
    color: $console-color-black;
}

.red {
    color: $console-color-red;
}

.green {
    color: $console-color-green;
}

.yellow {
    color: $console-color-yellow;
}

.blue {
    color: $console-color-blue;
}

.magenta {
    color: $console-color-magenta;
}

.cyan {
    color: $console-color-cyan;
}

.white {
    color: $console-color-white;
}
