$console-font-family: monaco, Consolas, monospace;
$console-font-size: 12px;

$console-line-height: 15px;

$console-width: 800px;
$console-height: 398px;
$console-border-radius: 5px;

$console-header-height: 20px;
$console-header-background: #ebe8eb;
$console-header-color: #504f50;
$console-header-btn-radius: 5px;

//Theme
$console-color-foreground: #dbdfe0;
$console-color-background: #393b3d;

$console-color-selection: #e9edf1;
$console-color-selection-text: #505153;

$console-color-black: #8f9ca0;
$console-color-red: #c25265;
$console-color-green: #8aa97d;
$console-color-yellow: #c7b85c;
$console-color-blue: #3392bb;
$console-color-magenta: #cb656e;
$console-color-cyan: #52b4a9;
$console-color-white: #dbdfe0;

