<div class="input-holder">
    <span class="prompt">user@cv [<span class="time">--:--:--</span>]&gt;&nbsp;</span>
    <span class="input"><span></span><span class="cursor">&nbsp;</span><span></span></span>
    <div class="clipboard"><input type="text" class="clipboard-input"/></div>
</div>
